<!--FOOTER-->
<div class="container-fluid footer-3-bg">
  <div class="footer-3-bg-black">
    <div class="container padd-50">
      <!--image column-->
      <div class="col-md-12 text-center footer">
        <div class="foot-3-logo">
          <div class="foot-logo"> <a href="index-leading-page.html"> <i class="flaticon-dinner"></i> <span class="nav-brand-name"><h2>Doorbell</h2></span> </a> </div>
        </div>
        <br />
        <p>Doorbell!! Now That Your Tastes Have Grown Up!</p>
      </div>
      <div class="col-md-12 text-center footer-3-btm">
        <h2 class="text-uppercase">CONTACT INFORMATION</h2>
        <!--text column-->
        <div class="col-sm-6 col-md-4 footer-3-mar-tp text-center"> <i class="flaticon-phone-call"></i>
          <h4>PHONE</h4>
          <span class="btn-bg"></span><br />
          <p>+01 987654321(Toll free).</p>
        </div>
        <!--text column-->
        <div class="col-sm-6 col-md-4 footer-3-mar-tp text-center"> <i class="flaticon-placeholder"></i>
          <h4>ADDRESS</h4>
          <span class="btn-bg"></span><br />
          <p>B-9223  Your Address Here,City,Country.987097.</p>
        </div>
        <!--text column-->
        <div class="col-sm-12 col-md-4 footer-3-mar-tp text-center"> <i class="flaticon-envelope"></i>
          <h4>EMAIL</h4>
          <span class="btn-bg"></span><br />
          <p>info@doorbell.com.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <!--text column-->
      <div class="col-md-12 text-center footer">
        <h3 class="text-uppercase foot-logo-h3">Share The Taste</h3>
        <ul>
          <li><a class="footer-soc-a" href="index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a class="footer-soc-a" href="index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a class="footer-soc-a" href="index.html#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a class="footer-soc-a" href="index.html#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-pay-bg">
  <div class="container">
    <div class="row">
      <!--text column-->
      <div class="col-md-12 text-center">
        <p class="footer-btm-p">©2017 <b class="content-subhead">Doorbell</b>. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
</div>
<!--color-panel-->
