<head>
  <meta charset="utf-8">
  <!--bootstrap-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Doorbell - Big Pieces, Little Prices</title>
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <!--favicon-->
  <link rel="icon" href="img/favicon.png" sizes="16x16">
  <!--color-panel-->
  <link href="css/jquery.colorpanel.css" rel="stylesheet">
  <link href="css/skins-default.css" id="cpswitch" rel="stylesheet">
  <!--Bootstrap-->
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="font/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!--Font-online-->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <!--Flat-icon-->
  <link href="font/font/flaticon.css" rel="stylesheet" type="text/css">
  <!--SLIDER-->
  <!--mega menu-->
  <link rel="stylesheet" type="text/css" href="css/mega_menu.css" />
  <!--revolution slider-->
  <link rel="stylesheet" type="text/css" href="css/settings.css">
  <link rel="stylesheet" type="text/css" href="css/navigation.css">
  <!--main style-->
  <link rel="stylesheet" type="text/css" href="css/slider.css" />
  <!--responsive-->
  <link rel="stylesheet" type="text/css" href="css/responsive.css">
  <!--logo-->
  <link rel="stylesheet" href="css/jquery.bxslider.css" type="text/css" />
  <!--wow-->
  <link href="http://www.innovatoryinfotech.com/theme/restora/css/animate.css" rel="stylesheet">
  <!--TILT-EFFECT-->
  <link href="css/tilt.css" rel="stylesheet" type="text/css">
  <!--testimonial-css-->
  <link href="css/carousel.min.css" rel="stylesheet">
  <link href="css/theme.min.css" rel="stylesheet">
  <link href="css/transitions.css" rel="stylesheet">
  <!--image-grid-->
  <link rel="stylesheet" type="text/css" href="css/image-grid.css" />
  <script type="text/javascript" src="js/modernizr.custom.26633.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <script src="/js/angularApp.js"></script>
  <script src="/js/mvc/mvc.js"></script>

  <noscript>
  <link rel="stylesheet" type="text/css" href="css/fallback.css" />
  </noscript>
  </head>
